Nessa aula, aprendemos a manipular os dados temporais através do tipo datetime. Entendemos como transformar uma coluna para datetime e, depois, manipulamos esses dados. Mesmo assim, nem todos os dados do conjunto moveis_disponiveis.json foram tratados.

Durante as aulas desse curso, descobrimos como transformar e trabalhar com valores numéricos, por exemplo, removendo valores numéricos dentro de um texto e transformando-os em um tipo numérico, como int64 ou float64.

Sabendo disso, nessa atividade, proponho que você faça a transformação dos dados na coluna preco do conjunto de dados moveis_disponiveis.json para o tipo numérico float64. Lembrando que, antes de fazer isso, você precisa preencher os valores vazios na coluna por um valor. Uma sugestão: substitua pela string '0.0'.

In [1]:
import numpy as np
import pandas as pd

dt_data = pd.read_json('https://cdn3.gnarususercontent.com.br/2928-transformacao-manipulacao-dados/moveis_disponiveis.json')

In [2]:
dt_data['preco'].fillna('0.0', inplace = True)

C:\Users\ithal\AppData\Local\Temp\ipykernel_15156\249873284.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dt_data['preco'].fillna('0.0', inplace = True)

In [3]:
dt_data['preco'] = dt_data['preco'].apply(lambda x: x.replace('$', '').replace(',',''))

In [4]:
dt_data['preco'] = dt_data['preco'].astype(np.float64)
dt_data

          id        data  vaga_disponivel  preco
0        857  2016-01-04            False    0.0
1        857  2016-01-05            False    0.0
2        857  2016-01-06            False    0.0
3        857  2016-01-07            False    0.0
4        857  2016-01-08            False    0.0
...      ...         ...              ...    ...
364995  3279  2016-12-29             True  140.0
364996  3279  2016-12-30             True  140.0
364997  3279  2016-12-31             True  140.0
364998  3279  2017-01-01             True  140.0
364999  3279  2017-01-02            False    0.0

[365000 rows x 4 columns]