Quando trabalhamos com bases de dados, em alguns momentos, pode ser necessário fazermos alterações nos nomes das colunas. Por exemplo, quando criamos o seguinte DataFrame no nosso projeto:

In [1]:
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'

dados = pd.read_csv(url, sep=';')

In [2]:
imoveis_comerciais = ['Conjunto Comercial/Sala', 'Prédio Inteiro','Loja/Salão','Galpão/Depósito/Armazém', 'Casa Comercial','Terreno Padrão','Loja Shopping/ Ct Comercial','Box/Garagem','Chácara', 'Loteamento/Condomínio','Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria']

In [8]:
df = dados.query('@imoveis_comerciais not in Tipo')

In [9]:
# Salvando o DataFrame em uma variável
df_exemplo = df['Tipo'].value_counts(normalize=True).to_frame().sort_values('Tipo')

In [13]:
df_exemplo.rename(columns={'Tipo': 'Percentuais'}, inplace=True)

# Visualizando o DataFrame
df_exemplo

                    proportion
Tipo
Apartamento           0.845285
Casa                  0.041849
Casa de Condomínio    0.043104
Casa de Vila          0.010776
Flat                  0.020600
Loft                  0.002207
Quitinete             0.036180