# Tratando e filtrando os dados

## Lidando com dados nulos

In [4]:
import pandas as pd

url = 'https://raw.githubusercontent.com/alura-cursos/pandas-conhecendo-a-biblioteca/main/base-de-dados/aluguel.csv'

dados = pd.read_csv(url, sep=';')

In [5]:
imoveis_comerciais = ['Conjunto Comercial/Sala', 'Prédio Inteiro','Loja/Salão','Galpão/Depósito/Armazém', 'Casa Comercial','Terreno Padrão','Loja Shopping/ Ct Comercial','Box/Garagem','Chácara', 'Loteamento/Condomínio','Sítio', 'Pousada/Chalé', 'Studio', 'Hotel', 'Indústria']

In [9]:
df = dados.query('@imoveis_comerciais not in Tipo')
df = df.query('Tipo == "Apartamento"')

In [10]:
df.isnull()

        Tipo  Bairro  Quartos  Vagas  Suites   Area  Valor  Condominio   IPTU
3      False   False    False  False   False  False  False       False  False
4      False   False    False  False   False  False  False       False   True
5      False   False    False  False   False  False  False        True   True
6      False   False    False  False   False  False  False       False  False
10     False   False    False  False   False  False  False        True   True
...      ...     ...      ...    ...     ...    ...    ...         ...    ...
32951  False   False    False  False   False  False  False       False   True
32953  False   False    False  False   False  False  False       False  False
32956  False   False    False  False   False  False  False       False  False
32957  False   False    False  False   False  False  False       False  False
32958  False   False    False  False   False  False  False       False   True

[19532 rows x 9 columns]

In [13]:
df.isnull().sum()

Tipo             0
Bairro           0
Quartos          0
Vagas            0
Suites           0
Area             0
Valor            7
Condominio     745
IPTU          5472
dtype: int64

In [14]:
df.fillna(0)    # Define nulo como 0

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
10,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
32951,Apartamento,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0
32953,Apartamento,Méier,2,0,0,70,900.0,490.0,48.0
32956,Apartamento,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
32957,Apartamento,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
32958,Apartamento,Leblon,2,0,0,70,3000.0,760.0,0.0

In [15]:
df = df.fillna (0)

In [16]:
df.isnull().sum()

Tipo          0
Bairro        0
Quartos       0
Vagas         0
Suites        0
Area          0
Valor         0
Condominio    0
IPTU          0
dtype: int64

## Removendo registros

In [17]:
df.query('Valor == 0 | Condominio == 0')

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
5,Apartamento,Vista Alegre,3,1,0,70,1200.0,0.0,0.0
10,Apartamento,Centro,1,0,0,36,1200.0,0.0,0.0
76,Apartamento,Barra da Tijuca,2,1,1,70,0.0,970.0,68.0
113,Apartamento,Praça Seca,2,0,0,80,1000.0,0.0,0.0
166,Apartamento,Rocha Miranda,2,1,0,50,1100.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...
32609,Apartamento,Copacabana,3,0,0,130,4600.0,0.0,0.0
32643,Apartamento,Guadalupe,1,0,0,40,550.0,0.0,0.0
32666,Apartamento,Bonsucesso,1,0,0,60,1000.0,0.0,0.0
32708,Apartamento,Flamengo,2,0,0,59,3500.0,0.0,0.0
32809,Apartamento,Cascadura,3,0,1,70,1200.0,0.0,0.0

In [18]:
df.query('Valor == 0 | Condominio == 0').index

Index([    5,    10,    76,   113,   166,   194,   258,   265,   275,   292,
       ...
       32420, 32438, 32480, 32538, 32584, 32609, 32643, 32666, 32708, 32809],
      dtype='int64', length=752)

In [19]:
registros_a_remover = df.query('Valor == 0 | Condominio == 0').index

In [ ]:
df.drop(registros_a_remover, axis=0, inplace=True)        
# inplcace -> Atribrui o resultado automaticamente ao dataframe
# axis == 0 -> Remover linhas
# axis == 1 -> Remover colunas

In [23]:
df.query('Valor == 0 | Condominio == 0')

Empty DataFrame
Columns: [Tipo, Bairro, Quartos, Vagas, Suites, Area, Valor, Condominio, IPTU]
Index: []

In [24]:
df.head()

,Tipo,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Apartamento,Centro,1,0,0,15,800.0,390.0,20.0
4,Apartamento,Higienópolis,1,0,0,48,800.0,230.0,0.0
6,Apartamento,Cachambi,2,0,0,50,1300.0,301.0,17.0
11,Apartamento,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Apartamento,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0

In [26]:
df.Tipo.unique()

array(['Apartamento'], dtype=object)

In [27]:
df.drop('Tipo', axis=1, inplace=True)

In [28]:
df.head()

,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Centro,1,0,0,15,800.0,390.0,20.0
4,Higienópolis,1,0,0,48,800.0,230.0,0.0
6,Cachambi,2,0,0,50,1300.0,301.0,17.0
11,Grajaú,2,1,0,70,1500.0,642.0,74.0
12,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0

## Filtros

### **1. Apartamentos que possuem `1 quarto` e `aluguel menor que 1200`**

In [32]:
df['Quartos'] == 1

3         True
4         True
6        False
11       False
12       False
         ...
32951    False
32953    False
32956    False
32957    False
32958    False
Name: Quartos, Length: 18780, dtype: bool

In [34]:
selecao1 = df['Quartos'] == 1
df[selecao1]

,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Centro,1,0,0,15,800.0,390.0,20.0
4,Higienópolis,1,0,0,48,800.0,230.0,0.0
13,Copacabana,1,0,1,40,2000.0,561.0,50.0
28,Tijuca,1,0,0,48,750.0,772.0,25.0
54,Centro,1,0,0,27,750.0,371.0,19.0
...,...,...,...,...,...,...,...,...
32918,Ipanema,1,0,0,55,2000.0,630.0,19.0
32922,Barra da Tijuca,1,1,0,62,1700.0,945.0,180.0
32935,Leblon,1,1,1,50,4300.0,1730.0,259.0
32938,Copacabana,1,0,0,50,1950.0,450.0,70.0
32950,Tijuca,1,0,0,28,1000.0,360.0,25.0

In [38]:
selecao2 = df['Valor'] < 1200
df[selecao2]

,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
3,Centro,1,0,0,15,800.0,390.0,20.0
4,Higienópolis,1,0,0,48,800.0,230.0,0.0
19,Freguesia (Jacarepaguá),3,0,0,54,950.0,300.0,28.0
23,Olaria,3,1,0,68,1000.0,670.0,0.0
28,Tijuca,1,0,0,48,750.0,772.0,25.0
...,...,...,...,...,...,...,...,...
32925,Campinho,2,0,0,63,800.0,392.0,0.0
32930,Freguesia (Jacarepaguá),2,1,0,60,500.0,900.0,148.0
32950,Tijuca,1,0,0,28,1000.0,360.0,25.0
32951,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0
32953,Méier,2,0,0,70,900.0,490.0,48.0

In [42]:
selecao_final = (selecao1) & (selecao2)
df[selecao_final]

             Bairro  Quartos  Vagas  Suites  Area   Valor  Condominio   IPTU
3            Centro        1      0       0    15   800.0       390.0   20.0
4      Higienópolis        1      0       0    48   800.0       230.0    0.0
28           Tijuca        1      0       0    48   750.0       772.0   25.0
54           Centro        1      0       0    27   750.0       371.0   19.0
94           Centro        1      1       0    37  1100.0       540.0  900.0
...             ...      ...    ...     ...   ...     ...         ...    ...
32596        Grajaú        1      0       1    37  1000.0       200.0    0.0
32617     Pechincha        1      0       1    69   900.0       640.0  126.0
32627        Glória        1      0       0    46  1100.0       453.0   32.0
32714      Botafogo        1      0       0    21  1000.0       282.0   25.0
32950        Tijuca        1      0       0    28  1000.0       360.0   25.0

[499 rows x 8 columns]

In [43]:
df_1 = df[selecao_final]

### **2. `Apartamentos` que possuem pelo menos `2 quartos`, `aluguel menor que 3000` e `area maior que 70`**

In [46]:
selecao = (df['Quartos'] >= 2) & (df['Valor'] < 3000) & (df['Area'] > 70)
df[selecao]

,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
12,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
21,Tijuca,2,1,0,110,1900.0,700.0,138.0
24,Tijuca,2,1,0,78,2000.0,700.0,0.0
32,Botafogo,2,1,0,76,2500.0,740.0,0.0
36,Recreio dos Bandeirantes,3,1,1,105,2300.0,648.0,0.0
...,...,...,...,...,...,...,...,...
32934,Jacarepaguá,2,1,1,78,2200.0,790.0,180.0
32940,Barra da Tijuca,2,1,1,85,2250.0,1561.0,197.0
32941,Barra da Tijuca,3,2,0,98,2300.0,887.0,177.0
32944,Recreio dos Bandeirantes,3,2,1,88,1550.0,790.0,0.0
32956,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0

In [47]:
df_2 = df[selecao]

## Salvando os dados

In [48]:
df.to_csv('dados_apartamentos.csv')

In [49]:
pd.read_csv('dados_apartamentos.csv')

,Unnamed: 0,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,3,Centro,1,0,0,15,800.0,390.0,20.0
1,4,Higienópolis,1,0,0,48,800.0,230.0,0.0
2,6,Cachambi,2,0,0,50,1300.0,301.0,17.0
3,11,Grajaú,2,1,0,70,1500.0,642.0,74.0
4,12,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...,...
18775,32951,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0
18776,32953,Méier,2,0,0,70,900.0,490.0,48.0
18777,32956,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
18778,32957,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
18779,32958,Leblon,2,0,0,70,3000.0,760.0,0.0

In [50]:
df.to_csv('dados_apartamentos.csv', index=False)

In [51]:
pd.read_csv('dados_apartamentos.csv')

,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Centro,1,0,0,15,800.0,390.0,20.0
1,Higienópolis,1,0,0,48,800.0,230.0,0.0
2,Cachambi,2,0,0,50,1300.0,301.0,17.0
3,Grajaú,2,1,0,70,1500.0,642.0,74.0
4,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...
18775,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0
18776,Méier,2,0,0,70,900.0,490.0,48.0
18777,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
18778,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
18779,Leblon,2,0,0,70,3000.0,760.0,0.0

In [52]:
df.to_csv('dados_apartamentos.csv', index=False, sep=';')

In [53]:
pd.read_csv('dados_apartamentos.csv')

      Bairro;Quartos;Vagas;Suites;Area;Valor;Condominio;IPTU
0                       Centro;1;0;0;15;800.0;390.0;20.0
1                  Higienópolis;1;0;0;48;800.0;230.0;0.0
2                    Cachambi;2;0;0;50;1300.0;301.0;17.0
3                      Grajaú;2;1;0;70;1500.0;642.0;74.0
4         Lins de Vasconcelos;3;1;1;90;1500.0;455.0;14.0
...                                                  ...
18775           Vila Valqueire;2;0;0;52;1000.0;550.0;0.0
18776                    Méier;2;0;0;70;900.0;490.0;48.0
18777             Jacarepaguá;3;1;2;78;1800.0;800.0;40.0
18778    São Francisco Xavier;2;1;0;48;1400.0;509.0;37.0
18779                   Leblon;2;0;0;70;3000.0;760.0;0.0

[18780 rows x 1 columns]

In [54]:
pd.read_csv('dados_apartamentos.csv', sep=';')

,Bairro,Quartos,Vagas,Suites,Area,Valor,Condominio,IPTU
0,Centro,1,0,0,15,800.0,390.0,20.0
1,Higienópolis,1,0,0,48,800.0,230.0,0.0
2,Cachambi,2,0,0,50,1300.0,301.0,17.0
3,Grajaú,2,1,0,70,1500.0,642.0,74.0
4,Lins de Vasconcelos,3,1,1,90,1500.0,455.0,14.0
...,...,...,...,...,...,...,...,...
18775,Vila Valqueire,2,0,0,52,1000.0,550.0,0.0
18776,Méier,2,0,0,70,900.0,490.0,48.0
18777,Jacarepaguá,3,1,2,78,1800.0,800.0,40.0
18778,São Francisco Xavier,2,1,0,48,1400.0,509.0,37.0
18779,Leblon,2,0,0,70,3000.0,760.0,0.0

Durante o desenvolvimento do nosso projeto, nós aplicamos alguns filtros na nossa base de dados e salvamos os DataFrames resultantes em diferentes variáveis, sendo elas: df_1 e df_2.

Com base nisso, salve esses DataFrames em 2 arquivos csv distintos para que o time de ML possa ter acesso a esses dados de forma mais prática.

In [55]:

df_1.to_csv('filtro_1.csv', index = False, sep = ';')
df_2.to_csv('filtro_2.csv', index = False, sep = ';')