Chegou a hora de você testar os conhecimentos desenvolvidos durante a aula. Nós temos um link do Google Planilhas que contém dados importantes sobre as emissões de gás carbônico pelo mundo. O conjunto de dados foi obtido no Kaggle e consiste em emissões de CO2 per capita de todos os países do mundo de 1990 a 2019.

Neste desafio, a sua função é efetuar a leitura desse link do Google Planilhas e depois salvar o DataFrame obtido no formato CSV. Pronto(a) para começar?

In [14]:
import pandas as pd

# URL original do Google Sheets
url = 'https://docs.google.com/spreadsheets/d/1pvBoLyX8kP0TjtUbadVMGdTl4yzm6bHMThhPiqCVtpw/edit?usp=sharing'

# formato de exportação
url_excel = url.replace('/edit?usp=sharing', '/export?format=xlsx')

dados = pd.read_excel(url_excel)

dados.head()

,Country,country_code,Region,Indicator Name,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2019.1
0,Aruba,ABW,Latin America & Caribbean,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,South Asia,CO2 emissions (metric tons per capita),1.917451e+08,167681579.0,95957742.0,8.472111e+06,7.554583e+07,6.846796e+07,...,2.965062e+07,2.592953e+08,1.856237e+07,1.462356e+08,1.728967e+08,1.497893e+08,1.316946e+08,1.632953e+06,1.598244e+08,1.598244e+08
2,Angola,AGO,Sub-Saharan Africa,CO2 emissions (metric tons per capita),5.536620e+08,544538649.0,543557223.0,7.089842e+07,8.368044e+08,9.121415e+08,...,9.855223e+08,9.506959e+08,1.036294e+09,1.099779e+09,1.135044e+08,1.031811e+09,8.133007e+07,7.776749e+08,7.921371e+08,7.921371e+08
3,Albania,ALB,Europe & Central Asia,CO2 emissions (metric tons per capita),1.819542e+09,124281022.0,683699826.0,6.383070e+08,6.453552e+08,6.054363e+08,...,1.669423e+08,1.503240e+08,1.533630e+09,1.668337e+09,1.603775e+08,1.557664e+09,1.788786e+09,1.782739e+09,1.692248e+08,1.692248e+08
4,Andorra,AND,Europe & Central Asia,CO2 emissions (metric tons per capita),7.521832e+09,723537924.0,69630787.0,6.724178e+09,6.541579e+09,6.733479e+09,...,5.850886e+09,5.944654e+09,5.942800e+09,5.807128e+09,6.026182e+09,6.080600e+09,6.104134e+09,6.362975e+09,6.481217e+09,6.481217e+09

In [17]:
pd.ExcelFile(url_excel).sheet_names

['CO2_emission', 'CópiadeCO2emission']

In [20]:
dados.to_csv('Desafio_Aula02-dados.csv', index=False)

In [22]:
pd.read_csv('Desafio_Aula02-dados.csv').head()

,Country,country_code,Region,Indicator Name,1990,1991,1992,1993,1994,1995,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2019.1
0,Aruba,ABW,Latin America & Caribbean,CO2 emissions (metric tons per capita),NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,AFG,South Asia,CO2 emissions (metric tons per capita),1.917451e+08,167681579.0,95957742.0,8.472111e+06,7.554583e+07,6.846796e+07,...,2.965062e+07,2.592953e+08,1.856237e+07,1.462356e+08,1.728967e+08,1.497893e+08,1.316946e+08,1.632953e+06,1.598244e+08,1.598244e+08
2,Angola,AGO,Sub-Saharan Africa,CO2 emissions (metric tons per capita),5.536620e+08,544538649.0,543557223.0,7.089842e+07,8.368044e+08,9.121415e+08,...,9.855223e+08,9.506959e+08,1.036294e+09,1.099779e+09,1.135044e+08,1.031811e+09,8.133007e+07,7.776749e+08,7.921371e+08,7.921371e+08
3,Albania,ALB,Europe & Central Asia,CO2 emissions (metric tons per capita),1.819542e+09,124281022.0,683699826.0,6.383070e+08,6.453552e+08,6.054363e+08,...,1.669423e+08,1.503240e+08,1.533630e+09,1.668337e+09,1.603775e+08,1.557664e+09,1.788786e+09,1.782739e+09,1.692248e+08,1.692248e+08
4,Andorra,AND,Europe & Central Asia,CO2 emissions (metric tons per capita),7.521832e+09,723537924.0,69630787.0,6.724178e+09,6.541579e+09,6.733479e+09,...,5.850886e+09,5.944654e+09,5.942800e+09,5.807128e+09,6.026182e+09,6.080600e+09,6.104134e+09,6.362975e+09,6.481217e+09,6.481217e+09